.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  width: 100%; 
}

.headerTitle {
  color: #2e2e2e;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0; 
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title, .description {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.description {
  color: #0070f3;
  font-size: 1rem;
  font-weight: 400;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  max-width: 800px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  color: inherit;
  height: 100px;
  margin: 1rem;
  padding: .5rem;
  text-align: left; 
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 25%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h4{
  margin: 0 0 1rem 0;
  padding-top: .5rem;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.card p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
  }
  
  .card {
    width: 40%;
    min-width: 125px;
    height: 125px;
  }

  .banner {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .card {
    width: 60%;
  }
}
